h1, h2 {
    
    text-align: center;
    color: white

}

h1 {
    font-size: 1.5rem;
    margin: 2rem 0 1.5rem 0;
    font-weight: normal;
    color: goldenrod;
    animation-duration: 2s;
    animation-name: slideout; 
}

@keyframes slideout {
  from {
    margin-right: 50%;
    width: 0%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .fallback {
    text-align: center;
    color: white;
  }